.return-icon {
    position: absolute;
    top: 5.5rem;
    left: 1rem;
}

.return-icon img {
    width: 48px;
    height: 48px
}

h1 {
    text-align: center;
    margin: 10px 0 2px 0;
}

h2 {
    text-align: center;
    margin: 20px 0 30px 0;  
}

.instructions {
    margin-top: 8px;
    margin-bottom: 8px;
}

main {
    margin: 20px;
}
.container {
    max-width: 800px;
    margin: 20px auto 0;
    padding: 20px;
    border: 2px solid var(--blue);
    border-radius: 10px;
    font-size: 1rem;
}

.dark-mode .container {
    border: 2px solid var(--orange);
}

.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid var(--blue);  
}

.form-group button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: var(--text-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dark-mode .form-group button {
    background-color: var(--orange);
    color: var(--text-dark);
}

.fill {
    background-color: #c4bebefe;
}

.no-show {
    display: none; /* Cache les éléments ayant la classe 'no-show' */
}

.employgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.groupbox {
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin: 8px 0 8px 0;
}

.infos {
    margin-top: 40px;
    margin-bottom: 10px;
}

.alternate-text {
    display: none; /* Cache les éléments ayant la classe 'alternate-text' */
}

.error {
    border: 2px solid #ff0000 !important;
}

.error-message {
    color: #ff0000;
    font-size: 0.8em;
    margin-top: 5px;
    text-align: left;
}

.dark-mode #payslip {
    background-color: var(--bg-light);
    color: var(--text-dark);
    padding: 1px 5px;
}



/* Responsive Design pour écrans de moins de 700px*/
@media screen and (max-width: 700px) {

    .container {
        font-size: 0.9rem;
    }

    .infos {
        display: none; /* Cache les éléments ayant la classe 'infos' */
    }

    #generate-pdf {
        display: none; /* Cache le bouton de génération de PDF */
    }

    .alternate-text {
        display: flex; /* Affiche le texte de remplacement*/
    }
}

/* Responsive Design pour écrans de moins de 400px*/
@media screen and (max-width: 400px) {

    .container {
        font-size: 0.7rem;
    }

    input {
        font-size: 0.6rem;
    }
}
